* {
    box-sizing: border-box;
    background-color: rgb(12, 12, 71);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-size: 41px;
    font-weight: 700;
    position: relative;
    color: #14704a;
    margin: 50px 14px;
    /* top: -1px; */
    right: 25px;
}

span {
    position: absolute;
    left: 420px;
    font-size: 50px;
    font-weight: bold;
    color: #3498db;
    animation: bounce 2s infinite;
}

.colan {
    font-size: 50px;
    font-weight: bold;
    color: #3498db;
    animation: bounce 2s infinite;
    position: fixed;
    padding: -62px 15px;
}


.text-slider {
    position: relative;
    width: 200px;
    height: 40px;
    overflow: hidden;
    text-align: center;
}


.text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    opacity: 0;
    animation: changeText 8s infinite;
}


@keyframes changeText {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }

    25% {
        opacity: 1;
        transform: translateY(0);
    }

    45% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}


.text:nth-child(1) {
    animation-delay: 0s;
}

.text:nth-child(2) {
    animation-delay: 2s;
}

.text:nth-child(3) {
    animation-delay: 4s;
}

.text:nth-child(4) {
    animation-delay: 6s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}